[submodule "foreign/rapidjson"]
	path = foreign/rapidjson
	url = git://github.com/andrusha97/rapidjson.git
[submodule "foreign/gmock"]
	path = foreign/gmock
	url = https://chromium.googlesource.com/external/googlemock
[submodule "foreign/gtest"]
	path = foreign/gtest
	url = https://chromium.googlesource.com/external/googletest
[submodule "foreign/urdl"]
	path = foreign/urdl
	url = git://github.com/chriskohlhoff/urdl.git
[submodule "foreign/ticktack"]
	path = foreign/ticktack
	url = git://github.com/3hren/ticktack
