Source: blackhole
Priority: extra
Maintainer: Evgeny Safronov <division494@gmail.com>
Build-Depends: debhelper (>= 7), cmake, cdbs
Standards-Version: 3.9.1
Section: libs
Vcs-Git: git://github.com/3Hren/blackhole.git
Vcs-Browser: https://github.com/3Hren/blackhole.git
Homepage: http://3hren.github.io/blackhole

Package: blackhole-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libboost-dev | libboost1.48-dev, 
 libboost-thread-dev | libboost-thread1.48-dev, 
 libboost-iostreams-dev | libboost-iostreams1.48-dev
Description: Blackhole Logger - Development Headers
 Blackhole logger development headers package.

